/** @format */

.cardsGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.videoCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2%;
  padding: 5px;
}

.description {
  display: flex;
  justify-content: space-around;
}

.userInfo P {
  margin-bottom: 4px;
}

.pagination_box {
  align-content: center;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_box a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(255, 211, 51);
  color: #2790bd;
  cursor: pointer;
}
.pagination_box a:hover {
  color: white;
  background-color: #2b2eff;
}
.paginationActive a {
  color: white;
  background-color: #2790bd;
}
.paginationDisabled a {
  display: none;
}

.videoBox video:hover,
img:hover {
  cursor: pointer;
}
