/** @format */

.videoDetails {
  width:100%;
  display: flex;
  justify-content: center;
}

.videoInfo{
    width: 50%;
    padding-top: 24px;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 350px;
    border-bottom: solid 1px rgba(90, 83, 83, 0.212);;
    margin-bottom: 2%;
}

.videoBoxInDetails{
  
}